@font-face {
  font-family: "GrandSlang";
  src: url(/Assets/GrandSlang-Roman.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gyahegi";
  src: url(Assets/Gyahegi.otf);
  font-weight: normal;
  font-style: normal;
}

/* GENERAL */
/* HEADER */
.menu {
  font-family: "nunito", sans-serif;
  color: #dfd4be;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.menu:hover {
  font-weight: 900;
}

/* MAIN */
body {
  background-color: #1e2125;
}

.subtitulos {
  font-family: "GrandSlang", sans-serif;
  color: #dfd4be;
  font-size: 50px;
  font-weight: 100;
  text-transform: capitalize;
}

/* FOOTER */
.socials-icons {
  width: 30px;
  height: 30px;
}

/* INDEX */
#titulo-trabajo {
  color: #dfd4be;
  font-family: "nunito", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

h1 {
  color: #dfd4be;
  font-family: "GrandSlang", sans-serif;
  text-transform: uppercase;
  font-size: 200px;
  font-weight: 100;
}

.estrellita {
  color: #dfd4be;
  font-size: 90px;
}

/* PRECIOS */
.lista-precios {
  color: #dfd4be;
  font-family: "nunito", sans-serif;
  font-size: 16px;
}

.bold-text {
  font-weight: 800;
}

/* CONTACTO */
.etiquetas {
  color: #dfd4be;
  font-family: "nunito", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.input-box {
  font-family: "nunito", sans-serif;
  font-size: 16px;
  color: #1e2125;
}

/* TOS */
.text {
  color: #dfd4be;
  font-family: "nunito", sans-serif;
  font-size: 20px;
}
