@font-face {
  font-family: "grandslang";
  src: url(./assets/grandslang.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  color: #dfd4be;
  font-family: "nunito", sans-serif;
  text-decoration: none;
  background-color: #1e2125;
}

header {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  margin: 20px 100px 0 100px;
}

#home-button {
  display: flex;
  align-items: center;
  padding-top: 10px;
  max-height: 65px;
  max-width: 120px;
}

.nav-menu {
  display: flex;
  justify-content: end;
  gap: 22px;
  align-items: center;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 630;
  font-size: 16px;
  height: 100%;
}

.nav-menu a {
  color: #dfd4be;
  font-family: "nunito", sans-serif;
  text-decoration: none;
}

.nav-menu a:hover {
  color: #b09d76;
}

.home-page{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 100px;
  min-height: 70vh;
}

#titulo-trabajo {
  margin: 80px 0 15px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

#mi-nombre {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-family: "grandslang", serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 150px;
  line-height:120px;
}

.estrellita {
  margin-top: 20px;
  text-align: center;
  font-size: 90px;
  line-height: 70px;
  animation: inflate 1s ease-in;
}

@keyframes inflate {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(120%);
  }
  50% {
    transform: scale(120%);
  }
  80% {
    transform: scale(50%);
  }
  100% {
    transform: scale(100%);
  }

}

.main-portfolio, .main-precios {
  margin: 0 100px 50px 100px;
  min-height: 65vh;
}

.subtitulos {
  margin: 80px 0 50px 0;
  font-family: "grandslang", serif;
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 100;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
}

.ejemplos {
  margin-bottom: 10px;
  max-height: 300px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 10px 10px 10px rgb(24, 23, 23);
  cursor: pointer;
  transition: all 0.2s linear;
}

.ejemplos:hover {
  transform: scale(105%);
}

.precios {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 20px;
  gap: 50px;
  min-height: 55vh;
}

.tarjeta-precio {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  height: 50px;
  border-radius: 15px 15px 0 0; 
  background-color: #dfd4be;
  color:#1e2125;
  font-weight: 900;
  font-size: 20px;
  box-shadow: 5px 5px 5px rgb(24, 23, 23);
}

.cards {
  transition: all 0.1s linear;
}

.cards:hover {
  transform: scale(102%);
}

.descripcion-precio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px 0;
  background: linear-gradient(to bottom, white, #c2beba);
  color: #1e2125;
  border-radius: 0 0 15px 15px;
  box-shadow: 5px 5px 5px rgb(24, 23, 23);
}

.lista-precio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

.total {
  margin-top: 20px;
  padding: 10px 30px;
  background-color: #b09d76;
  border-radius: 25px;
  font-size: 20px;
  color: white;
}

footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.socials-icons {
  width: 30px;
  height: 30px;
  transition: all 0.2s linear;
}

.socials-icons:hover {
  transform: scale(112%);
}

.rights {
  margin: 0;
  font-size: small;
}



/* TABLETS */
@media (max-width: 1199px) {
  header {
    grid-template-columns: 0.5fr 1.5fr;
    margin: 10px 20px;
  }

  .nav-menu{
    font-size: 14px;
    justify-content: end;
    gap: 12px;
  }

  main {
    margin: 0 20px;
  }

  #mi-nombre {
    font-size: 110px;
    line-height: 85px;
  }

  #titulo-trabajo {
    font-size: 12px;
    line-height: 30px;
  }

  .estrellita {
    font-size: 60px;
    line-height: 50px;
  }

  .precios {
    display: flex;
    flex-wrap: wrap;
  }
}


/* MOBILE */
@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    text-align: center;
    max-height: 50vh;
  }

  #home-button {
    margin-bottom: 22px;
  }
    
  .nav-menu {
    flex-direction: column;
    font-size: 14px;
    padding: 0;
    line-height: 6px;
  }

  .home-page {
    margin: 0 20px;
    max-height: 40vh;
  }
  
  #mi-nombre {
    font-size: 60px;
    line-height: 50px;
  }
  
  #titulo-trabajo {
    font-size: 10px;
    line-height: 30px;
  }
  
  .estrellita {
    font-size: 35px;
    line-height: 40px;
  }
  
  .subtitulos{
    text-align: center;
  }

  .socials-icons {
    width: 25px;
    height: 25px;
  }
}